.page {
    margin-top: 25px;
    margin-bottom: 25px;
}

.flex {
    display: flex;
    justify-content: column;
    align-items: center;
}

.button-circle {
    display: inline-block;
    padding: 2px 6px 2px 2px;
    border-color: #d6d6d6;
    border-radius: 5px;
    background-color: transparent;
    color: #333333;
    cursor: pointer;
    margin-bottom: 20px;
}

.circle-icon {
    display: inline-block;
}

.circle-svg {
    font-size: 10px;
    color: #1184c2;
}

.text-kongres {
    text-align: center;
    line-height: 13px;
    padding-left: 0.5px;
}

.event-table {
    width: 664px;
}

.event-table tr {
    margin-top: 10px;
}

.event-table th {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    color: #5c5c5c;
    padding-right: 10px;
    padding-left: 0;
}



.address {
    font-weight: 400;
    font-size: 16px;
    color: #5c5c5c;
    padding: 10px;
    padding-left: 0;
}

.bold {
    font-weight: 600;
    font-size: 16px;
    padding-left: 0;
    color: #141414;
}

.website {
    font-weight: 600;
    font-size: 16px;
    padding-left: 0;
    color: #c1121e;
    text-decoration: underline;
    word-break: break-all;
}

.figure-items {
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: 5px;
}

.app-about-flex {
    display: flex;
    justify-content: center;
}


.btn-divider {
    width: 90%;
    margin-left: 0;

}

.divider {
    border-color: #a3a3a3;
    border: none;
    border-top: 1px solid #a3a3a3;
}

.calendar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 0;
}

.buttons-flex {
    display: flex;
    gap: 8px;
}

.btn-calendar {
    border: 1px solid #ebebeb;
    background-color: transparent;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icon-look {
    background-image: url(./left.svg);
    width: 20px;
    height: 20px;
}

.icon-calendar {
    background-image: url(./calendar.svg);
    width: 20px;
    height: 20px;
}

.calendar-share {
    display: flex;
    gap: 8px;
}

.button-share,
.button-bookmark {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #ebebeb;
    background-color: transparent;
    border-radius: 8px;
    padding: 9px;
    gap: 8px;
}

.icon-share {
    color: #5c5c5c;
}

.advertisment {
    color: #5c5c5c;
    font-size: 14px;
    padding-left: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
}

.banner-img {
    width: 312px;
    height: 624px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./Image_reklama.svg);
}