.button-top {
    margin: 0 auto;
    max-width: 1016px;
}

.on-top {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333333;
    text-transform: uppercase;
    padding-left: 5px;
    margin-bottom: 20px;
}

.on-top-icon {
    position: relative;
    bottom: -6px;
    color: #333333;
}

.hr-red {
    border: none;
    border-top: 1px solid #b0101b;
    margin-top: 60px;
    margin-bottom: 10px;
}

.divider-bottom {
    width: 100%;
    border-color: #a3a3a3;
    border: none;
    border-top: 0.1rem solid #a3a3a3;
}