a {
    text-decoration: none;
    color: #5c5c5c;
}

.logo {
    display: block;
    background-image: url(./logoPL.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    width: 100%;
}

.header {
    max-width: 1016px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__menu-buttons {
    min-width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;

}

.header__item-btn {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    color: grey;
    border-radius: 4px;
    padding: 4px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.header__item-btn-none {
    border: none;
}

.header__text {
    margin-left: 10px;
}

.divider-top {
    width: 100%;
    border-color: #a3a3a3;
    border: none;
    border-top: 0.1rem solid #a3a3a3;
}